<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picth Perfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB15BD3F1BEA286A006F236A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB15BD531BEA286B006F236A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB15BD5E1BEA286B006F236A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
